<section class="content__block">
  <header class="content__header">
    <section class="content__username">
      <img src="./img/user.svg" alt="">
      <p>Hier komt een username</p>
    </section>

    <section class="content__balance">
      <img src="./img/money-bag.svg" alt="">
      <p class="money"></p>
    </section>
  </header>

  <section class="content__middle">
    <div class="content__track">
  hey
    </div>
    <div class="content__tweets">
      <h3>Tweets</h3>
      <p>hey</p>
    </div>
  </section>

  <section class="content__bottom">
    <div class="content__players">
      <h3>Players</h3>
      <ul class="content__players-list">
        <li class="og">Mitch</li>
        <li>Dennis</li>
        <li>Guus</li>
        <li>Folkert</li>
      </ul>
    </div>
    <div class="content__bets">
      <h2>Choose the rapper you want to place your bets on.</h2>
      <form class="" action="index.html" method="post">
        <div class="content__rapper">
          <h4>Lil yaghty</h4>
          <img src="./img/yaghty.png" alt="">
          hey
        </div>
        <div class="content__rapper">
            <h4>Lil yaghty</h4>
          <img src="./img/yaghty.png" alt="">
          hey
        </div>
        <div class="content__rapper">
            <h4>Lil yaghty</h4>
          <img src="./img/yaghty.png" alt="">
          hey
        </div>
        <div class="content__rapper">
            <h4>Lil yaghty</h4>
          <img src="./img/yaghty.png" alt="">
          hey
        </div>
        <div class="content__rapper">
            <h4>Lil yaghty</h4>
          <img src="./img/yaghty.png" alt="">
          hey
        </div>
        <button class="money-button" type="button" name="button">pay</button>
      </form>
    </div>
  </section>

</section>

<section class="chat">
  <header>
    <div class="chat__header">
      <h2>Chat</h2>
    </div>
  </header>
  <ul id="messages">
    <p class="chat__typing" id="feedback"></p>
  </ul>
  <section class="messages-block">
    <input id="name-input" type="text" name="n" value="" placeholder="Naam" autocomplete="off">
    <input id="message-input" type="text" placeholder="Je bericht" autocomplete="off" />
    <button class="chat__button" id="send">Send</button>
  </section>
  <div class="chat__handle">
    <img src="./img/speech-bubbles.svg" alt="">
  </div>
</section>
