<section class="content__block">
  <header class="content__header">
    <section class="content__username">
      <img src="./img/user.svg" alt="">
      <p class="username">Hier komt een username</p>
    </section>
    <section class="content__timer">

    </section>

    <section class="content__balance">
      <img src="./img/money-bag.svg" alt="">
      <p class="money"></p>
    </section>
  </header>

  <section class="content__middle">
    <div class="content__track">
      <div class="content__lane" id="sixnine">
          <img src="./img/sixnine.png" alt="">
      </div>
      <div class="content__lane" id="lilpump">
          <img src="./img/lilpump.png" alt="">
      </div>
      <div class="content__lane" id="tentacion">
          <img src="./img/tentacion.png" alt="">
      </div>
      <div class="content__lane" id="twenty">
          <img src="./img/21.png" alt="">
      </div>
      <div class="content__lane" id="cardib">
          <img src="./img/cardib.png" alt="">
      </div>
      <div class="content__finish">

      </div>

    </div>
    <div class="content__tweets">
      <h3>Tweets</h3>
      <div class="content__tweetblock">
        <p class="sixnine-tweet"></p>
        <p class="pump-tweet"></p>
        <p class="tentacion-tweet"></p>
        <p class="savage-tweet"></p>
        <p class="cardib-tweet"></p>

      </div>
    </div>
  </section>

  <section class="content__bottom">
    <div class="content__players">
      <h3 id="userCount">Players</h3>
      <ul class="content__players-list">
        <li class="og">Mitch</li>
      </ul>
    </div>
    <div class="content__bets">
      <h2>Choose the rapper you want to place your bet on.</h2>
      <form class="" action="index.html" method="post">
        <div class="content__rapper">
          <label class="rapper" value="sixnine">
          <h4>6ix9ine</h4>
          <img src="./img/sixnine.png" alt="">
          <input type="radio" name="rappers" value="yaghty">
          </label>
        </div>
        <div class="content__rapper">
          <label class="rapper" value="pump">
          <h4>Lil pump</h4>
          <img src="./img/lilpump.png" alt="">
          <input type="radio" name="rappers" value="lilpump">
          </label>
        </div>
        <div class="content__rapper">
          <label class="rapper" value="cardib">
          <h4>CardiB</h4>
          <img src="./img/cardib.png" alt="">
          <input type="radio" name="rappers" value="cradib">
          </label>
        </div>
        <div class="content__rapper">
          <label class="rapper" value="tentacion">
          <h4>XXXTentacion</h4>
          <img src="./img/tentacion.png" alt="">
          <input type="radio" name="rappers" value="tentacion">
          </label>
        </div>
        <div class="content__rapper">
          <label class="rapper" value="savage">
          <h4>21Savage</h4>
          <img src="./img/21.png" alt="">
          <input type="radio" name="rappers" value="savage">
          </label>
        </div>
        <div>
          <h2>Price money:</h2>
          <p class="content__pricemoney">hey</p>
        </div>
      </form>
    </div>
  </section>

</section>

<section class="chat">
  <header>
    <div class="chat__header">
      <h2>Chat</h2>
    </div>
  </header>
  <ul id="messages">
    <p class="chat__typing" id="feedback"></p>
  </ul>
  <section class="messages-block">
    <input id="name-input" type="text" name="n" value="" placeholder="Naam" autocomplete="off">
    <input id="message-input" type="text" placeholder="Je bericht" autocomplete="off" />
    <button class="chat__button" id="send">Send</button>
  </section>
  <div class="chat__handle">
    <img src="./img/speech-bubbles.svg" alt="">
  </div>
</section>
