<section class="chat">
  <header>
    <div class="chat__header">
      <h2>Straat Chat</h2>
      <p id="userCount"></p>
    </div>
  </header>


  <ul id="messages">
    <p class="chat__typing" id="feedback"></p>
  </ul>
  <section class="messages-block">
    <input id="name-input" type="text" name="n" value="" placeholder="Naam" autocomplete="off">
    <input id="message-input" type="text" placeholder="Je bericht" autocomplete="off" />
    <button id="send">Sturen</button>
  </section>
</section>
