* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightgrey: #283037;
  --darkergrey: #161d24;
  --dark: #0e1215;
  --blue: #424c79;
  --yellow: #ffd15c;
  --radius-left: 10px 0 0 10px;
}

@font-face {
  font-family: "BebasNeue";
  src: url("./fonts/BebasNeue.woff2") format("woff2"),
    url("./fonts/BebasNeue.woff") format("font-woff"),
    url("./fonts/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 13px Helvetica, Arial;
  background-color: var(--darkergrey);
  display: flex;
  overflow: hidden;
}

input {
  border: 0;
  padding: 10px;
  border: 1px solid #e9e9e9;
  width: 100%;
}
button {
  display: block;
  border: none;
  padding: 1.1rem;
  background-color: var(--blue);
  font-size: 1em;
  color: #fff;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BebasNeue";
  letter-spacing: 1px;
}

.test {
  position: absolute;
  display: block;
  width: auto;
  left: 50%;
  background-color: tomato;
  color: #fff;
  z-index: 10000;
}

.content {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 1rem;
  color: #fff;

  &__block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 7fr 3fr;
    grid-row-gap: 1rem;
  }

  &__header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__username {
    background-color: var(--lightgrey);
    display: flex;
    align-items: center;
    padding: 0.8rem 1.4rem;

    img {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 0.4em;
    }
  }

  &__middle {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-column-gap: 1rem;
  }

  &__track {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
    // background-color: var(--lightgrey);
    background-image: url(/img/grass.jpg);
    background-size: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  &__lane {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);

    div {
      width: 10%;
      text-align: center;
    }
    img {
      width: 40px;
    }
  }

  &__finish {
    position: absolute;
    width: 8px;
    opacity: 0.1;
    height: 100%;
    background-color: #fff;
    right: 3rem;
    top: 0;
  }

  &__tweets {
    background-color: var(--lightgrey);
    text-align: center;
    padding: 0.5em;
  }

  &__bottom {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 6fr;
  }

  &__players {
    padding: 1rem;
    background-color: var(--lightgrey);

    h3 {
      margin-bottom: 1em;
    }
  }

  &__players-list {
    list-style-type: none;
    padding-left: 1.5em;
    overflow: scroll;

    li {
      position: relative;
      margin-bottom: 0.2em;
    }
  }

  &__bets {
    padding: 1rem;
    background-color: var(--lightgrey);
    text-align: center;

    h2 {
      margin-bottom: 1em;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    button {
      display: inline-block;
      height: 50px;
    }
  }

  &__rapper {
    text-align: center;
    cursor: pointer;
    img {
      display: block;
      margin: 0 auto;
      width: 55px;
    }
  }

  &__balance {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;

    img {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 0.4em;
    }
  }
}

.og::before {
  content: "";
  position: absolute;
  left: -1.2rem;
  width: 0.9rem;
  height: 0.9rem;
  background-image: url(/img/OG.svg);
  background-size: cover;
}

.sidebar {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 2.5rem;
  background-color: var(--dark);

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__links {
  }

  a {
    width: 2.5rem;
    padding: 0.5rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    display: block;

    img {
      width: 25px;
    }
  }

  h1 {
    position: absolute;
    top: 3.4rem;
    left: -1.3rem;
    color: #fff;
    transform: rotate(90deg);
  }
}

.active {
  background-color: var(--darkergrey);
}

#messages {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  overflow: scroll;
  background-color: var(--dark);
  height: 50vh;
}
#messages li {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.chat {
  position: absolute;
  right: 0;
  width: 300px;
  background-color: var(--lightgrey);
  border-radius: var(--radius-left);
  transform: translateX(300px);
  cursor: pointer;
  transition: 0.4s;
  top: 10%;
  -webkit-box-shadow: -4px 0px 5px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -4px 0px 5px 2px rgba(0, 0, 0, 0.15);
  box-shadow: -4px 0px 5px 2px rgba(0, 0, 0, 0.15);

  h2 {
    color: #fff;
  }

  &__button {
    border-radius: 0 0 0 10px;
  }

  &__handle {
    width: 40px;
    height: 150px;
    background-color: var(--lightgrey);
    position: absolute;
    left: -39px;
    top: 50%;
    margin-top: -75px;
    border-radius: var(--radius-left);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -4px 0px 5px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 0px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 0px 5px 2px rgba(0, 0, 0, 0.15);

    img {
      width: 15px;
    }
  }

  &__header {
    margin: 1rem;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  &__typing {
    position: absolute;
    padding: 0.5em;
    bottom: 0;
  }
}

.messages-block {
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px -9px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px -9px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px -9px 5px 0px rgba(0, 0, 0, 0.05);
}

.show {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.4;
}

.money {
}

.chatopen {
  transform: translateX(0px);
}
