<form class="name-input" action="/chat" method="post">
  <label for="name">Voer je naam in</label>
  <input required type="text" id="name" name="name" value="" autocomplete="off">
  <button type="submit">Starten</button>
</form>
